.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.gallery-item img {
  display: block;
  height: auto;
}
