* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 16px;
}

h2 {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listedItem {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  height: 40px;

  padding-left: 16px;
}

.item {
  background: #f6f6fe;
  border-radius: 8px;
  width: 392px;
  padding: 16px;
}
